*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.dds
*.cmo
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc
*.tlog
*.lib
*.idb
*.db
*.suo

/Game/.vs
/Game/x64
/Game/x64/Release
/Game/x64/Debug
/Game/ipch
/osumaruEngine/bulletPhysics/src/BulletCollision/x64
/osumaruEngine/bulletPhysics/src/BulletDynamics/x64
/osumaruEngine/bulletPhysics/src/BulletSoftBody/x64
/osumaruEngine/bulletPhysics/src/LinearMath/x64
/osumaruEngine/x64
/Game/Game/x64
tkTools/Library