*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.tlog

/Game/x64
/Game/ipch
/osumaruEngine/bulletPhysics/src/BulletCollision/x64
/osumaruEngine/bulletPhysics/src/BulletDynamics/x64
/osumaruEngine/bulletPhysics/src/BulletSoftBody/x64
/osumaruEngine/bulletPhysics/src/LinearMath/x64
/osumaruEngine/x64
